<!DOCTYPE html>
<html>
<head>
	<% include partials/template/head.ejs %>
	<title><%= siteTitle %>--<%= pageTitle %></title>
</head>
<body>
	<% include partials/template/nav.ejs %>
	<h1><%= info %></h1>
	<% include partials/template/scripts.ejs %>
</body>
</html>